.css-vj1n65-MuiGrid-root{
    padding: 30px;
}

.img-theme {
    background-size: cover;
    border: 1px solid #ddd;
    border-radius: 8px;
    height: 350px;
    overflow: hidden;
    width: 400px;
    &:hover {
        box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
    }
}

.container-tags{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 40px;
}

.author{
    padding: 0 !important;
    margin: 0 !important;
}
